#events_calendar
  width: 700px
  margin: 10px

.fc
  font-size: 1em
  .fc-header, .fc-content
    font-size: 1em
    width: 100%
  table
    border-collapse: collapse
    border-spacing: 0
  td, th
    padding: 0
    vertical-align: top

.fc-header
  .fc-header-title
    float: left
  .loading, .fc-button-prev, .fc-button-next
    cursor: pointer
    float: right
    font-size: 24px

.fc-event-title
  padding: 0 1px

.fc-event a
  overflow: hidden
  font-size: .85em
  cursor: pointer
  display: block
  text-align: center

.fc-content
  border: 1px solid #ccc
  clear: both
  .fc-grid
    width: 100%
    overflow: hidden
    table
      width: 100%
      th
        border-width: 0 0 0 1px
        background: #e7e7e7        
      th,td
        text-align: center
        border-style: solid
        border-color: #ccc
        &.fc-leftmost
          border-left: 0
      td
        border-width: 1px 0 0 1px
        .fc-day-number
          float: right
          padding: 0 2px
        .fc-day-content
          clear: both
          padding: 2px 2px 0
        &.fc-other-month .fc-day-number
          opacity: 0.3
          filter: alpha(opacity = 30)
