@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000324}}
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000345}}
.container {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000347}}
hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000355}}
hr.space {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000358}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000360}}
code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000365}}
a img {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000368}}
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000372}}
p img.top {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000374}}
blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000379}}
.small {
  font-size: 0.9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000381}}
.large {
  font-size: 1.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000383}}
.quiet {
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.5\/frameworks\/blueprint\/stylesheets\/blueprint\/_print\.scss}line{font-family:\0000385}}
.hide {
  display: none;
}
